<main class="main bg-zinc-100">
  <div class="min-h-[100dvh]">
    <div class="p-4 flex flex-col gap-6 md:flex-row">
      <div class="min-w-[200px]">
        <div class="sidebar">
          <div class="flex flex-col gap-2">
            <div class="flex gap-2 items-center">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="home"
                class="!2text-xl !mt-1"
              ></mat-icon>
              <p class="text-3xl font-bold">Federation</p>
            </div>

            <mat-nav-list>
              <a
                mat-list-item
                routerLink="/profile"
                routerLinkActive
                [activated]="true"
                >Profile</a
              >

              @for (nav of fillerNav; track nav) {
              <a mat-list-item>{{ nav }}</a>
              }
            </mat-nav-list>
          </div>
        </div>
      </div>
      <div class="content flex-1">
        <div class="h-full bg-white rounded-xl px-6 py-6 flex flex-col">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</main>
